In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("summer.csv")

In [ ]:
df

       Year    City      Sport  ... Gender                       Event   Medal
0      1896  Athens   Aquatics  ...    Men              100M Freestyle    Gold
1      1896  Athens   Aquatics  ...    Men              100M Freestyle  Silver
2      1896  Athens   Aquatics  ...    Men  100M Freestyle For Sailors  Bronze
3      1896  Athens   Aquatics  ...    Men  100M Freestyle For Sailors    Gold
4      1896  Athens   Aquatics  ...    Men  100M Freestyle For Sailors  Silver
...     ...     ...        ...  ...    ...                         ...     ...
31160  2012  London  Wrestling  ...    Men                    Wg 84 KG  Bronze
31161  2012  London  Wrestling  ...    Men                    Wg 96 KG    Gold
31162  2012  London  Wrestling  ...    Men                    Wg 96 KG  Silver
31163  2012  London  Wrestling  ...    Men                    Wg 96 KG  Bronze
31164  2012  London  Wrestling  ...    Men                    Wg 96 KG  Bronze

[31165 rows x 9 columns]

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.head()

   Year    City     Sport  ... Gender                       Event   Medal
0  1896  Athens  Aquatics  ...    Men              100M Freestyle    Gold
1  1896  Athens  Aquatics  ...    Men              100M Freestyle  Silver
2  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors  Bronze
3  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors    Gold
4  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors  Silver

[5 rows x 9 columns]

In [ ]:
df.head(1)

   Year    City     Sport Discipline  ... Country Gender           Event Medal
0  1896  Athens  Aquatics   Swimming  ...     HUN    Men  100M Freestyle  Gold

[1 rows x 9 columns]

In [ ]:
df["Year"].unique()

array([1896, 1900, 1904, 1908, 1912, 1920, 1924, 1928, 1932, 1936, 1948,
       1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992,
       1996, 2000, 2004, 2008, 2012])

In [ ]:
df["City"].unique()

array(['Athens', 'Paris', 'St Louis', 'London', 'Stockholm', 'Antwerp',
       'Amsterdam', 'Los Angeles', 'Berlin', 'Helsinki',
       'Melbourne / Stockholm', 'Rome', 'Tokyo', 'Mexico', 'Munich',
       'Montreal', 'Moscow', 'Seoul', 'Barcelona', 'Atlanta', 'Sydney',
       'Beijing'], dtype=object)

In [ ]:
df["Sport"].unique()

array(['Aquatics', 'Athletics', 'Cycling', 'Fencing', 'Gymnastics',
       'Shooting', 'Tennis', 'Weightlifting', 'Wrestling', 'Archery',
       'Basque Pelota', 'Cricket', 'Croquet', 'Equestrian', 'Football',
       'Golf', 'Polo', 'Rowing', 'Rugby', 'Sailing', 'Tug of War',
       'Boxing', 'Lacrosse', 'Roque', 'Hockey', 'Jeu de paume', 'Rackets',
       'Skating', 'Water Motorsports', 'Modern Pentathlon', 'Ice Hockey',
       'Basketball', 'Canoe / Kayak', 'Handball', 'Judo', 'Volleyball',
       'Table Tennis', 'Badminton', 'Baseball', 'Softball', 'Taekwondo',
       'Triathlon', 'Canoe'], dtype=object)

In [ ]:
df["Discipline"].unique()

array(['Swimming', 'Athletics', 'Cycling Road', 'Cycling Track',
       'Fencing', 'Artistic G.', 'Shooting', 'Tennis', 'Weightlifting',
       'Wrestling Gre-R', 'Water polo', 'Archery', 'Basque Pelota',
       'Cricket', 'Croquet', 'Jumping', 'Football', 'Golf', 'Polo',
       'Rowing', 'Rugby', 'Sailing', 'Tug of War', 'Diving', 'Boxing',
       'Lacrosse', 'Roque', 'Wrestling Free.', 'Hockey', 'Jeu de Paume',
       'Rackets', 'Figure skating', 'Water Motorspor', 'Dressage',
       'Eventing', 'Modern Pentath.', 'Vaulting', 'Ice Hockey',
       'Basketball', 'Canoe / Kayak F', 'Handball', 'Judo', 'Volleyball',
       'Canoe / Kayak S', 'Synchronized S.', 'Rhythmic G.',
       'Table Tennis', 'Badminton', 'Baseball', 'Mountain Bike',
       'Softball', 'Beach volley.', 'Trampoline', 'Taekwondo',
       'Triathlon', 'BMX', 'Marathon swimming', 'Synchronized Swimming',
       'Water Polo', 'Canoe Slalom', 'Canoe Sprint', 'Cycling BMX',
       'Gymnastics Artistic', 'Gymnastics Rhythmic', 'Modern Pentathlon',
       'Beach Volleyball', 'Wrestling Freestyle'], dtype=object)

In [ ]:
df["Country"].unique()

array(['HUN', 'AUT', 'GRE', 'USA', 'GER', 'GBR', 'FRA', 'AUS', 'DEN',
       'SUI', 'ZZX', 'NED', 'BEL', 'IND', 'CAN', 'BOH', 'SWE', 'NOR',
       'ESP', 'ITA', 'CUB', 'ANZ', 'RSA', 'FIN', 'RU1', 'EST', 'TCH',
       'NZL', 'BRA', 'JPN', 'LUX', 'ARG', 'POL', 'POR', 'URU', 'YUG',
       'ROU', 'HAI', 'EGY', 'PHI', 'IRL', 'CHI', 'LAT', 'MEX', 'TUR',
       'PAN', 'JAM', 'SRI', 'KOR', 'PUR', 'PER', 'IRI', 'TRI', 'URS',
       'VEN', 'BUL', 'LIB', 'EUA', 'ISL', 'PAK', 'BAH', 'BWI', 'TPE',
       'ETH', 'MAR', 'GHA', 'IRQ', 'SIN', 'TUN', 'KEN', 'NGR', 'GDR',
       'FRG', 'UGA', 'CMR', 'MGL', 'PRK', 'COL', 'NIG', 'THA', 'BER',
       'TAN', 'GUY', 'ZIM', 'CHN', 'CIV', 'ZAM', 'DOM', 'ALG', 'SYR',
       'SUR', 'CRC', 'INA', 'SEN', 'DJI', 'AHO', 'ISV', 'EUN', 'NAM',
       'QAT', 'LTU', 'MAS', 'CRO', 'ISR', 'SLO', 'IOP', 'RUS', 'UKR',
       'ECU', 'BDI', 'MOZ', 'CZE', 'BLR', 'TGA', 'KAZ', 'UZB', 'SVK',
       'MDA', 'GEO', 'HKG', 'ARM', 'AZE', 'BAR', 'KSA', 'KGZ', 'KUW',
       'VIE', 'MKD', 'SCG', 'ERI', 'PAR', 'UAE', 'SRB', 'SUD', 'MRI',
       'TOG', 'TJK', 'AFG', nan, 'BRN', 'GUA', 'GRN', 'TTO', 'BOT', 'MNE',
       'CYP', 'SGP', 'GAB'], dtype=object)

In [ ]:
df["Gender"].unique()

array(['Men', 'Women'], dtype=object)

In [ ]:
df["Event"].unique()

array(['100M Freestyle', '100M Freestyle For Sailors', '1200M Freestyle',
       '400M Freestyle', '100M', '110M Hurdles', '1500M', '400M', '800M',
       'Discus Throw', 'High Jump', 'Long Jump', 'Marathon', 'Pole Vault',
       'Shot Put', 'Triple Jump', 'Individual Road Race', '100KM', '10KM',
       '12-Hour Race', '1KM Time Trial', 'Sprint Indivual',
       'Foil Individual', 'Foil, Masters', 'Sabre Individual',
       'Horizontal Bar', 'Parallel Bars', 'Pommel Horse', 'Rings',
       'Rope Climbing', 'Team, Horizontal Bar', 'Team, Parallel Bars',
       'Vault', '25M Army Pistol', '25M Rapid Fire Pistol (60 Shots)',
       '50M Pistol (60 Shots)', 'Army Rifle, 200M', 'Army Rifle, 300M',
       'Doubles', 'Singles', 'Heavyweight - One Hand Lift',
       'Heavyweight - Two Hand Lift', 'Open Event', '1500M Freestyle',
       '200M Backstroke', '200M Freestyle', '200M Obstacle Event',
       '200M Team Swimming', '4000M Freestyle', 'Underwater Swimming',
       'Water Polo', 'Au Chapelet, 33M', 'Au Chapelet, 50M',
       'Au Cordon DorÃ©, 33M', 'Au Cordon DorÃ©, 50M',
       'Sur La Perche Ã€ La Herse', 'Sur La Perche Ã€ La Pyramide', '200M',
       '200M Hurdles', '3000M Steeplechase', '4000M Steeplechase',
       '400M Hurdles', '5000M Team', '60M', 'Hammer Throw',
       'High Jump, Standing', 'Long Jump, Standing',
       'Triple Jump, Standing', 'Cesta Punta', 'Cricket', 'Double',
       'Individual 1 Ball', 'Individual 2 Balls', '25 Kilometres',
       'Individual', 'Long Jump Individual', 'Ã‰pÃ©e Individual',
       'Ã‰pÃ©e, Amateurs And Masters', 'Ã‰pÃ©e, Masters', 'Sabre, Masters',
       'Football', 'Individual All-Round', 'Polo',
       'Eight With Coxswain (8+)', 'Four-Oared Shell With Coxswain (4-)',
       'Pair-Oared Shell With Coxswain (2+)', 'Single Sculls (1X)',
       'Rugby', '0.5-1T', '10-20T', '3-10T', 'Open Class',
       '50M Army Pistol, Team', 'Army Rifle, 300M, 3 Positions',
       'Army Rifle, 300M, Kneeling', 'Army Rifle, 300M, Prone',
       'Army Rifle, 300M, Standing', 'Free Rifle, Team',
       'Trap (125 Targets)', 'Mixed Doubles', 'Tug Of War',
       '10M Platform', 'Plunge For Distance', '100M Backstroke',
       '400M Breaststroke', '4X50Y Freestyle Relay',
       '50Y Freestyle (45.72M)', '880Y Freestyle (804.66M)',
       'Double American Round (60Y - 50Y - 40Y)',
       'Double Columbia Round (50Y - 40Y - 30Y)',
       'Double National Round (60Y - 50Y)',
       'Double York Round (100Y - 80Y - 60Y)', 'Team Round 60Y',
       'Teams Fita Round', '4Miles Team', '56LB Weight Throw (25.4KG)',
       'Decathlon', 'Triathlon (Long Jump / Shot Put / 100 Yards)',
       '- 47.63KG (Flyweight)', '+ 71.67KG (Heavyweight)',
       '47.63 - 52.16KG (Bantamweight)', '52.16 - 56.7KG (Featherweight)',
       '56.7 - 61.24KG (Lightweight)', '61.24 - 65.77KG (Welterweight)',
       '65.77 - 71.67KG (Middleweight)', '1 Mile (1609.3M)',
       '1/2 Mile (804.7M)', '1/3 Mile (536.5M)', '1/4 Mile (402.3M)',
       '2 Miles (3.218KM)', '25 Miles (40.232KM)', '5 Miles (8.046KM)',
       'Foil Team', 'Stick, Single', 'Team', 'Club Swinging',
       'Combined 3 Events', 'Combined 4 Events', 'Team Competition',
       'Lacrosse', 'Coxless Pair (2-)', 'Double Sculls (2X)',
       'Four Without Coxswain (4-)', 'All-Around Dumbbell Contest',
       '- 47.6KG (Light-Flyweight)', '47.6 - 52.16KG (Flyweight)',
       '52.16 - 56.7KG (Bantamweight)', '56.7 - 61.23KG (Featherweight)',
       '61.23 - 65.77KG (Lightweight)', '65.77 - 71.67KG (Welterweight)',
       '3M Springboard', '200M Breaststroke', '4X200M Freestyle Relay',
       'Continental Style 50M', 'National Round (60Y - 50Y)',
       'York Round (100Y - 80Y - 60Y)', '10Miles Walk (16093M)',
       '3200M Steeplechase', '3500M Walk', '3Miles Team (4828M)',
       '4X400M Relay', '5 Miles (8047M)', 'Discus Throw Ancient Style',
       'Javelin Throw', 'Javelin Throw Freestyle',
       '- 52.62KG (Bantamweight)', '52.62 - 57.15KG (Featherweight)',
       '57.15 - 63.5KG (Lightweight)', '63.5 - 71.67KG (Middleweight)',
       '1980 Yards Pursuit, Team', '2000M Tandem', '20KM', '5000M',
       'One Lap (660Y) Sprint', 'Ã‰pÃ©e Team', 'Sabre Team', 'Hockey',
       '12M', '6M', '7M', '8M', '1000Y Free Rifle, Prone',
       '100M Running Deer, Double Shots',
       '100M Running Deer, Single Shots',
       '100M Running Deer, Single Shots, Team',
       '25Y Small Bore Rifle, Disappearing Target',
       '25Y Small Bore Rifle, Moving Target',
       '300M Free Rifle 3 Positions (3X40 Shots)',
       '50+100Y Small Bore Rifle, Team', '50M Rifle Prone (60 Shots)',
       '50Y Army Pistol, Team', 'Clay Pigeons, Team', 'Rifle, Team',
       'Pairs', 'Special Figures', 'Doubles Indoor', 'Singles Indoor',
       '8M Class C', 'Class B Up To 60 Feet', 'Open Class A',
       '- 54KG (Bantamweight)', '+ 73KG (Heavyweight)',
       '54 - 60.3KG (Featherweight)', '60.3 - 66.6KG (Lightweight)',
       '66.6 - 73KG (Middleweight)', '- 66.6KG (Lightweight)',
       '+ 93KG (Super Heavyweight)', '73 - 93KG (Light-Heavyweight)',
       'Plain High Diving', '4X100M Freestyle Relay', '10000M',
       '10000M Walk', '3000M Team', '4X100M Relay',
       'Cross Country Individual', 'Cross Country Team',
       'Discus Throw, Both Hands', 'Javelin Throw, Both Hands',
       'Pentathlon', 'Shot Put, Both Hands', 'Individual Time Trial',
       'Team Time Trial', 'Team, Free System', 'Team, Swedish System',
       'Individual Competition', 'Coxed Fours Jugriggers', '10M',
       '25M Small Bore Rifle, Team', '25M Small Rifle',
       '30M Army Pistol, Team', '50M Small Bore Rifle, Team',
       '600M Free Rifle', 'Mixed Doubles Indoor',
       '- 60KG (Featherweight)', '+ 82.5KG (Super Heavyweight)',
       '60 - 67.5KG (Lightweight)', '67.5 - 75KG (Middleweight)',
       '75 - 82.5KG (Light-Heavyweight)', 'Fixed Bird Target Large Birds',
       'Fixed Bird Target Large Birds Teams',
       'Fixed Bird Target Small Bird, Teams',
       'Fixed Bird Target Small Birds', 'Moving Bird Target 28M Teams',
       'Moving Bird Target 33M Teams', 'Moving Bird Target 50M Teams',
       'Moving Bird Target, 28M', 'Moving Bird Target, 33M',
       'Moving Bird Target, 50M', '3000M Walk', '- 50.8KG (Flyweight)',
       '+ 79.38KG (Heavyweight)', '50.8 - 53.52KG (Bantamweight)',
       '53.52 - 57.15KG (Featherweight)', '57.15 - 61.24KG (Lightweight)',
       '61.24 - 66.68KG (Welterweight)', '66.68 - 72.57KG (Middleweight)',
       '72.57 - 79.38KG (Light-Heavyweight)', '50KM',
       'Team Pursuit (4000M)', 'Figure Riding Individual',
       'Figure Riding Team', 'Ice Hockey', '10M (Rating 1907)',
       '10M (Rating 1919)', '12 Foot Dinghy', '12M (Rating 1907)',
       '12M (Rating 1919)', '18 Foot Dinghy', '30M Sq', '40M Sq',
       '6.5M (Rating 1919)', '6M (Rating 1907)', '6M (Rating 1919)',
       '8M (Rating 1907)', '8M (Rating 1919)',
       '100M Running Deer, Double Shots, Team',
       '300+600M Free Rifle, Team, Prone', '300M Free Rifle, Prone, Team',
       '300M Free Rifle, Standing, Team',
       '50M Small Bore Rifle, Standing, Individual',
       '600M Free Rifle, Prone', '600M Free Rifle, Team',
       '- 60KG, One-Two Hand 3 Events (Featherweight)',
       '+ 82.5KG, One-Two Hand 3 Events (Heavyweight)',
       '60 - 67.5KG, One-Two Hand 3 Events (Lightweight)',
       '67.5 - 75KG, One-Two Hand 3 Events (Middleweight)',
       '75 - 82.5KG, One-Two Hand 3 E. (Light-Heavyweight)',
       '+ 80KG (Heavyweight)', '75 - 80KG (Light-Heavyweight)',
       '+ 82KG (Super Heavyweight)', '75 - 82KG (Light-Heavyweight)',
       'Sidehorse Vault', 'Olympic Class Monotype',
       '400, 600, 800M Free Rifle, Team', '600M Free Rifle, Individual',
       '- 60KG, One-Two Hand 5 Events (Featherweight)',
       '+ 82.5KG, One-Two Hand 5 Events (Heavyweight)',
       '60 - 67.5KG, One-Two Hand 5 Events (Lightweight)',
       '67.5 - 75KG, One-Two Hand 5 Events (Middleweight)',
       '75 - 82.5KG, One-Two Hand 5 E. (Light-Heavyweight)',
       '- 56KG (Bantamweight)', '+ 87KG (Heavyweight)',
       '56 - 61KG (Featherweight)', '61 - 66KG (Lightweight)',
       '66 - 72KG (Welterweight)', '72 - 79KG (Middleweight)',
       '79 - 87KG (Light-Heavyweight)', '- 58KG (Bantamweight)',
       '58 - 62KG (Featherweight)', '62 - 67.5KG (Lightweight)',
       '1KM Pursuit', '12 Foot Dinghy Individual',
       '- 60KG, Total (Featherweight)', '+ 82.5KG, Total (Heavyweight)',
       '60 - 67.5KG, Total (Lightweight)',
       '67.5 - 75KG, Total (Middleweight)',
       '75 - 82.5KG, Total (Light-Heavyweight)',
       '58 - 60KG (Featherweight)', '50KM Walk', '80M Hurdles',
       '50.8 - 54KG (Bantamweight)', '54 - 57.15KG (Featherweight)',
       'Floor Exercises', 'Indian Clubs', 'Tumbling',
       'Two-Person Keelboat Open (Star)', '+ 87KG (Super Heavyweight)',
       'Basketball', 'C-1 1000M (Canoe Single)', 'C-2 10000M',
       'C-2 1000M (Canoe Double)', 'Folding K-1 10000M',
       'Folding K-2 10000M', 'K-1 10000M', 'K-1 1000M (Kayak Single)',
       'K-2 10000M', 'K-2 1000M (Kayak Double)', 'Handball',
       '- 51KG (Flyweight)', '51 - 54KG (Bantamweight)',
       '54 - 58KG (Featherweight)', '58 - 62KG (Lightweight)',
       '62 - 67KG (Welterweight)', '67 - 73KG (Middleweight)',
       '73 - 80KG (Light-Heavyweight)', 'C-1 10000M',
       'K-1 500M (Kayak Single)', 'Dragon', 'Firefly Class',
       'Swallow (Golondrina)', '- 56KG, Total (Bantamweight)',
       '56 - 60KG, Total (Featherweight)', '- 52KG (Flyweight)',
       '52 - 57KG (Bantamweight)', '57 - 63KG (Featherweight)',
       '63 - 67KG (Lightweight)', '67 - 73KG (Welterweight)',
       '73 - 79KG (Middleweight)', '57 - 61KG (Featherweight)',
       '61 - 67KG (Lightweight)', '+ 81KG (Heavyweight)',
       '54 - 57KG (Featherweight)', '57 - 60KG (Lightweight)',
       '60 - 63.5KG (Light-Welterweight)', '63.5 - 67KG (Welterweight)',
       '67 - 71KG (Light-Middleweight)', '71-75KG',
       '75 - 81KG (Light-Heavyweight)', 'Balance Beam',
       'Team, Portable Apparatus', 'Uneven Bars', '5.5M',
       'Single-Handed Dinghy (Finn)',
       '100M Running Deer, Single/Double Shots',
       '50M Rifle 3 Positions (3X40 Shots)',
       '+ 90KG, Total (Heavyweight)',
       '82.5 - 90KG, Total (Middle-Heavyweight)', '100M Butterfly',
       '200M Butterfly', '20KM Walk', 'Sharpie 12M2',
       '4X100M Medley Relay', 'K-1 4X500M', 'K-2 500M (Kayak Double)',
       'Flying Dutchman', '400M Individual Medley',
       'K-4 1000M (Kayak Four)', 'Individual Pursuit',
       '- 68KG (Lightweight)', '68 - 80KG (Middleweight)',
       'Open Category', 'Volleyball', '+ 97KG (Heavyweight)',
       '63 - 70KG (Lightweight)', '70 - 78KG (Welterweight)',
       '78 - 87KG (Middleweight)', '87 - 97KG (Light-Heavyweight)',
       '+ 97KG (Super Heavyweight)', '100M Breaststroke',
       '200M Individual Medley', '800M Freestyle',
       '- 48KG (Light-Flyweight)', '48 - 51KG (Flyweight)',
       'Skeet (125 Targets)', 'Individual Fita Round', '100M Hurdles',
       'C-1 (Canoe Single)', 'C-2 (Canoe Double)', 'K-1 (Kayak Single)',
       '- 63KG (Lightweight)', '+ 93KG (Heavyweight)',
       '63 - 70KG (Half-Middleweight)', '70 - 80KG (Middleweight)',
       '80 - 93KG (Half-Heavyweight)',
       'Fleet/Match Race Keelboat Open (Soling)', 'Tempest',
       '50M Running Target (30+30 Shots)', '- 52KG, Total (Flyweight)',
       '+ 110KG, Total (Super Heavyweight)',
       '52 - 56KG, Total (Bantamweight)',
       '91 - 110KG, Total (Heavyweight)', '+ 100KG (Super Heavyweight)',
       '48 - 52KG (Flyweight)', '57 - 62KG (Featherweight)',
       '62 - 68KG (Lightweight)', '68 - 74KG (Welterweight)',
       '74 - 82KG (Middleweight)', '82 - 90KG (Light-Heavyweight)',
       '90 - 100KG (Heavyweight)', 'C-1 500M (Canoe Single)',
       'C-2 500M (Canoe Double)', 'Pair Without Coxswain (2-)',
       'Quadruple Sculls With Coxswain (4X)',
       'Quadruple Sculls Without Coxswain (4X)',
       '470 - Two Person Dinghy', 'Tornado - Multihull', '- 60 KG',
       '+ 95KG (Heavyweight)', '60 - 65KG (Half-Lightweight)',
       '65 - 71KG (Lightweight)', '71 - 78KG (Half-Middleweight)',
       '78 - 86KG (Middleweight)', '86 - 95KG (Half-Heavyweight)',
       '100 - 110KG, Total (Heavyweight)',
       '90 - 100KG, Total (First-Heavyweight)', 'Duet', 'Solo', '3000M',
       'Heptathlon', '+ 91KG (Super Heavyweight)',
       '81 - 91KG (Heavyweight)', 'K-4 500M (Kayak Four)', 'Points Race',
       'Board (Windglider)', '10M Air Rifle (40 Shots)',
       '10M Air Rifle (60 Shots)', '25M Pistol (30+30 Shots)',
       '50M Rifle 3 Positions (3X20 Shots)', '50M Freestyle', 'Sprint',
       'Board (Division Ii)', '10M Air Pistol (40 Shots)',
       '10M Air Pistol (60 Shots)', '100 - 130KG (Super Heavyweight)',
       'Individual (Fita Olympic Round - 70M)',
       'Team (Fita Olympic Round - 70M)', 'Baseball',
       '- 48KG (Extra-Lightweight)', '+ 72KG (Heavyweight)',
       '48 - 52KG (Half-Lightweight)', '52 - 56KG (Lightweight)',
       '56 - 61KG (Half-Middleweight)', '61 - 66KG (Middleweight)',
       '66 - 72KG (Half-Heavyweight)', 'Coxless Four (4-)',
       'Board (Lechner)', 'Single-Handed Dinghy (Europe)',
       'Cross-Country', 'Group Competition', '+ 100KG (Heavyweight)',
       '60 - 66KG (Half-Lightweight)', '66 - 73KG (Lightweight)',
       '73 - 81KG (Half-Middleweight)', '81 - 90KG (Middleweight)',
       '90 - 100KG (Half-Heavyweight)', 'Lightweight Coxless Four (4-)',
       'Lightweight Double Sculls (2X)', 'Board (Mistral)',
       'Single-Handed Dinghy Open (Laser)', 'Double Trap (120 Targets)',
       'Double Trap (150 Targets)', 'Softball', 'Beach Volleyball',
       '- 54KG, Total (Flyweight)', '+ 108KG, Total (Super Heavyweight)',
       '54 - 59KG, Total (Bantamweight)',
       '59 - 64KG, Total (Featherweight)',
       '64 - 70KG, Total (Lightweight)',
       '70 - 76KG, Total (Middleweight)',
       '76 - 83KG, Total (Light-Heavyweight)',
       '83 - 91KG, Total (Middle-Heavyweight)',
       '91 - 99KG, Total (First-Heavyweight)',
       '99 - 108KG, Total (Heavyweight)',
       'Synchronized Diving 10M Platform',
       'Synchronized Diving 3M Springboard', '20KM Race Walk',
       '500M Time Trial', 'Keirin', 'Madison', 'Olympic Sprint',
       '+ 78KG (Heavyweight)', '52 - 57KG (Lightweight)',
       '57 - 63KG (Half-Middleweight)', '63 - 70KG (Middleweight)',
       '70 - 78KG (Half-Heavyweight)', '49Er - Skiff',
       '10M Running Target (30+30 Shots)', 'Skeet (75 Targets)',
       'Trap (75 Targets)', '- 49 KG', '- 58 KG', '+ 67 KG', '+ 80 KG',
       '49 - 57 KG', '57 - 67 KG', '58 - 68 KG', '68 - 80 KG', '+ 105KG',
       '+ 75KG', '105KG', '48KG', '53KG', '56KG', '58KG', '62KG', '63KG',
       '69KG', '75KG', '77KG', '85KG', '94KG', '48 - 54KG', '54 - 58KG',
       '58 - 63KG', '63 - 69KG', '69 - 76KG', '76 - 85KG', '85 - 97KG',
       '97 - 130KG', '48KG (Light Flywieght)', '60 - 64 KG', '64 - 69 KG',
       '69 - 75 KG', 'Team Sprint', '- 48 KG', 'Star - Keelboat',
       'Yngling - Keelboat', '- 48KG', '- 55KG', '48 - 55KG', '55 - 60KG',
       '55 - 63KG', '60 - 66KG', '63 - 72KG', '66 - 74KG', '74 - 84KG',
       '84 - 96KG', '96 - 120KG', 'Marathon 10KM',
       'Finn - Heavyweight Dinghy', 'Laser - One Person Dinghy',
       'Laser Radial - One Person Dinghy', 'Rs:X - Windsurfer',
       'Synchronized 10M', 'Synchronized 3M', '200M Medley',
       '400M Medley', '4X100M Freestyle', '4X100M Medley',
       '4X200M Freestyle', '3000M Steeple', '+ 91KG', '46 - 49KG',
       '51 KG', '52KG', '57 - 60KG', '60 KG', '75 - 81KG', '75 KG',
       '81 - 91KG', 'C-1 (Single)', 'C-2 (Double)', 'K-1 (Single)',
       'C-1 1000M', 'C-1 200M', 'C-2 1000M', 'K-1 1000M', 'K-1 200M',
       'K-1 500M', 'K-2 1000M', 'K-2 200M', 'K-2 500M', 'K-4 1000M',
       'K-4 500M', 'Individual Road', 'Time Trial', 'Omnium',
       'Team Pursuit', 'Beam', 'Individual All-Around', '+ 100KG',
       '+ 78KG', '48 - 52KG', '52 - 57KG', '57 - 63KG', '63 - 70KG',
       '66 - 73KG', '70 - 78KG', '73 - 81KG', '81 - 90KG', '90 - 100KG',
       'Coxless Four', 'Coxless Pair 2-', 'Double Sculls',
       'Eight With Coxswain', 'Lightweight 4', 'Lightweight Doubles',
       'Quadruple Sculls', 'Single Sculls', '470', 'Elliott 6M', 'Finn',
       'Laser', 'Laser Radial', 'Rs:X', 'Star', '10M Air Pistol',
       '10M Air Rifle', '25M Pistol', '25M Rapid Pistol', '50M Pistol',
       '50M Rifle 3 Positions', '50M Rifle Prone', 'Double Trap 150',
       'Skeet', 'Trap', '+105KG', '+75KG', '-56KG', 'Wf 120KG',
       'Wf 48 KG', 'Wf 55 KG', 'Wf 60 KG', 'Wf 63 KG', 'Wf 66 KG',
       'Wf 72 KG', 'Wf 74 KG', 'Wf 84 KG', 'Wf 96 KG', 'Wg 120 KG',
       'Wg 55 KG', 'Wg 60 KG', 'Wg 66 KG', 'Wg 74 KG', 'Wg 84 KG',
       'Wg 96 KG'], dtype=object)

In [ ]:
for Country in df["Country"].unique():
 print(Country)
 len(df[df["Country"]=="AUS"])

HUN
AUT
GRE
USA
GER
GBR
FRA
AUS
DEN
SUI
ZZX
NED
BEL
IND
CAN
BOH
SWE
NOR
ESP
ITA
CUB
ANZ
RSA
FIN
RU1
EST
TCH
NZL
BRA
JPN
LUX
ARG
POL
POR
URU
YUG
ROU
HAI
EGY
PHI
IRL
CHI
LAT
MEX
TUR
PAN
JAM
SRI
KOR
PUR
PER
IRI
TRI
URS
VEN
BUL
LIB
EUA
ISL
PAK
BAH
BWI
TPE
ETH
MAR
GHA
IRQ
SIN
TUN
KEN
NGR
GDR
FRG
UGA
CMR
MGL
PRK
COL
NIG
THA
BER
TAN
GUY
ZIM
CHN
CIV
ZAM
DOM
ALG
SYR
SUR
CRC
INA
SEN
DJI
AHO
ISV
EUN
NAM
QAT
LTU
MAS
CRO
ISR
SLO
IOP
RUS
UKR
ECU
BDI
MOZ
CZE
BLR
TGA
KAZ
UZB
SVK
MDA
GEO
HKG
ARM
AZE
BAR
KSA
KGZ
KUW
VIE
MKD
SCG
ERI
PAR
UAE
SRB
SUD
MRI
TOG
TJK
AFG
nan
BRN
GUA
GRN
TTO
BOT
MNE
CYP
SGP
GAB

In [ ]:
for Year in df["Year"].unique():
 print(Year)
 len(df[df["Gender"]=="Women"])

1896
1900
1904
1908
1912
1920
1924
1928
1932
1936
1948
1952
1956
1960
1964
1968
1972
1976
1980
1984
1988
1992
1996
2000
2004
2008
2012

In [ ]:
for Sport in df["Sport"].unique():
 print(Sport)
 len(df[df["Sport"]=="Polo"])

Aquatics
Athletics
Cycling
Fencing
Gymnastics
Shooting
Tennis
Weightlifting
Wrestling
Archery
Basque Pelota
Cricket
Croquet
Equestrian
Football
Golf
Polo
Rowing
Rugby
Sailing
Tug of War
Boxing
Lacrosse
Roque
Hockey
Jeu de paume
Rackets
Skating
Water Motorsports
Modern Pentathlon
Ice Hockey
Basketball
Canoe / Kayak
Handball
Judo
Volleyball
Table Tennis
Badminton
Baseball
Softball
Taekwondo
Triathlon
Canoe

In [ ]:
for Year in df["Year"].unique():
 print(Year)
 len(df[df["Year"]=="Baseball"])

1896
1900
1904
1908
1912
1920
1924
1928
1932
1936
1948
1952
1956
1960
1964
1968
1972
1976
1980
1984
1988
1992
1996
2000
2004
2008
2012

In [ ]:
for Year in df["Year"].unique():
 print(Year)
 len(df[df["Medal"]=="Gold"])

1896
1900
1904
1908
1912
1920
1924
1928
1932
1936
1948
1952
1956
1960
1964
1968
1972
1976
1980
1984
1988
1992
1996
2000
2004
2008
2012

In [ ]:
df.head()

   Year    City     Sport  ... Gender                       Event   Medal
0  1896  Athens  Aquatics  ...    Men              100M Freestyle    Gold
1  1896  Athens  Aquatics  ...    Men              100M Freestyle  Silver
2  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors  Bronze
3  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors    Gold
4  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors  Silver

[5 rows x 9 columns]

In [ ]:
import matplotlib.pyplot as plt

In [6]:
data=[]
for Year in df["Year"].unique():
 print(Year)
 len(df[df["Year"]=="Country"])      #can you explain me why i am getting this error

NameError: ignored